
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Space for fixed navbar */
body {
  padding-top: 70px; /* adjust to navbar height */
}

/* Scrollbar Styling for all pages */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #0d1b2a; /* track background */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #5d1f54ff, #310757ff); /* thumb color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #8a2be2, #721865); /* hover effect */
}

/* Firefox */
* {
  scrollbar-width: large;
  scrollbar-color: #640455 #0d1b2a;
}

